namespace: sukhesh-ns

# ConfigMap details
configmap:
  data:
    MONGO_URI: mongodb://mongodb-svc:27017/vegetable-order-app
    MONGO_INITDB_DATABASE: vegetable-order-app

# Application Deployment
deployment:
  replicas: 2
  labels:
    app: vegetable-order-app
  containerName: veg-container
  image:
    repository: sukhesh77/vegetable-order-app
    tag: v1
  port: 3000

# Application Service
service:
  name: vegetable-order-app
  type: LoadBalancer
  port: 3000

# MongoDB StatefulSet
mongodb:
  replicas: 1
  serviceName: mongodb-svc
  app: mongodb
  containerName: mongodb-container
  repository: mongo
  tag: latest
  port: 27017
  volume:
    name: mongodb-volume
    mountPath: /data/db
    accessMode: ReadWriteOnce
    size: 2Gi

# PVC
pvc:
  accessMode: ReadWriteOnce
  size: 2Gi

# StorageClass
storageClass:
  name: veg-storage-class
  provisioner: ebs.csi.aws.com
  reclaimPolicy: Retain
  volumeBindingMode: WaitForFirstConsumer
  type: gp3
