namespace: sukhesh-ns

# ---------------- CONFIGMAP ----------------
configmap:
  name: vegetable-app-config
  data:
    MONGO_URI: "mongodb://mongodb-service:27017/vegetable_order_app"
    MONGO_INITDB_DATABASE: "vegetable_order_app"

# ---------------- APP DEPLOYMENT ----------------
deployment:
  name: vegetable-order-app
  replicas: 2
  appLabel: vegetable-order-app
  image: sukhesh77/vegetable-order-app:v1.0.1
  port: 3000

# ---------------- APP SERVICE ----------------
service:
  name: vegetable-order-service
  type: LoadBalancer
  port: 3000
  targetPort: 3000

# ---------------- MONGODB STATEFULSET ----------------
statefulset:
  name: mongodb
  replicas: 2
  serviceName: mongodb-headless
  appLabel: mongodb
  image: mongo:latest
  port: 27017
  mountPath: /data/db

# ---------------- MONGODB SERVICE ----------------
mongodbService:
  name: mongodb-service
  port: 27017

# ---------------- HEADLESS SERVICE ----------------
headless:
  name: mongodb-headless
  port: 27017

# ---------------- PVC ----------------
pvc:
  name: mongodb-pvc
  storageClassName: veg-sc
  accessModes:
    - ReadWriteOnce
  storage: 2Gi

# ---------------- STORAGE CLASS ----------------
storageClass:
  name: veg-sc
  provisioner: ebs.csi.aws.com
  reclaimPolicy: Retain
  volumeBindingMode: WaitForFirstConsumer
  parameters:
    type: gp3
