namespace: sukhesh-ns

#configmap details
configmap:
  data:
    MONGO_URI: "mongodb://mongodb:27017/vegetable_order_app"
    MONGO_INITDB_DATABASE: "vegetable_order_app"

#deployment details
replicas: 2
deployment:
  name: vegetable-order-app-deployment
  labels:
    app: vegetable-order-app
  port:  3000
image:
    repository: sukhesh77/vegetable-order-app:v1
    tag: v1.0.1
    env:
      - name: MONGODB_URI
        configMapKeyRef: vegetable-app-config
        key: MONGO_URI

#service details

service:
  app: vegetable-order-app
  type: LoadBalancer
  port: 3000


#mongodb statefulset details


statefulset:  
  name: mongodb
  replicas: 2
  serviceName: "mongodb"
  labels:
    app: mongodb
  containers:
    name: mongodb
    image: mongo:latest
    port: 27017
    volumeMounts:
      - name: mongodb-data
        mountPath: /data/db
    env:
      - name: MONGO_INITDB_DATABASE
        configMapKeyRef: vegetable-app-config
        key: MONGO_INITDB_DATABASE
  volumeClaims:
    - name: mongodb-data
      accessModes: ["ReadWriteOnce"]
      storageClassName: veg-sc
      storage: 1Gi

#mongodb service details

mongodbService:
  name: mongodb-service
  port: 27017

#pvc details
pvc:
  storageClassName: veg-sc
  accessModes: 
    - ReadWriteOnce
  resources:
    requests:
      storage: 2Gi

#headless service details
headless:
  selector:
    app: mongodb
  port: 27017
  targetPort: 27017
  clusterIP: None

#storage class details
storageClass:
  name: veg-sc
  provisioner: ebs.csi.aws.com
  reclaimPolicy: Retain
  volumeBindingMode: WaitForFirstConsumer
  parameters:
    type: gp3
