apiVersion: apps/v1
kind: Deployment
metadata:
  name: mongodb-deployment
  namespace: sukhesh-ns
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mongodb
  template:
    metadata:
      labels:
        app: mongodb
    spec:
      containers:
      - name: mongodb-container
        image: mongo:latest
        ports:
        - containerPort: 27017
        env:
        - name: MONGO_INITDB_DATABASE
          valueFrom:
            configMapKeyRef:
              name: veg-config
              key: MONGO_INITDB_DATABASE
