namespace: sukhesh-ns

# configmap
configmap:
  data:
    MONGO_URI: "mongodb://retail-release-headless:27017/vegetable_order_app"
    MONGO_INITDB_DATABASE: "vegetable_order_app"

# deployment
replicas: 5

deployment:
  name: vegetable-app-deployment
  labels:
    app: vegetable-order-app

  port: 3000

  image:
    repository: sukhesh77/vegetable-order-app
    tag: v1.0.1

  env:
    name: MONGO_URI
    valueFrom:
      configMapKeyRef:
        name: vegetable-app-config
        key: MONGO_URI

# service
service:
  app: vegetable-order-app
  type: LoadBalancer
  port: 3000

# mongodb statefulset
statefulset:
  name: mongodb
  replicas: 1
  serviceName: retail-release-headless

  labels:
    app: mongodb

  container:
    name: mongodb
    image: mongo:latest
    port: 27017

  volumeMounts:
    name: mongodb-data
    mountPath: /data/db

  env:
    name: MONGO_INITDB_DATABASE
    valueFrom:
      configMapKeyRef:
        name: vegetable-app-config
        key: MONGO_INITDB_DATABASE

  volumeClaims:
    name: mongodb-data
    accessModes:
      - ReadWriteOnce
    storageClassName: veg-sc
    storage: 1Gi

# pvc
pvc:
  storageClassName: veg-sc
  accessModes:
    - ReadWriteOnce
  storage: 2Gi

# headless service
headless:
  name: retail-release-headless

  selector:
    app: mongodb

  port: 27017
  targetPort: 27017
  clusterIP: None

# storage class
storageClass:
  name: veg-sc
  provisioner: ebs.csi.aws.com

  reclaimPolicy: Retain
  volumeBindingMode: WaitForFirstConsumer

  parameters:
    type: gp3
